/* App.css */

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  background: #191924;
  color: #fff;
}

.app-background {
  min-height: 100vh;
  min-width: 100vw;
  background: #191924;
  background-image: radial-gradient(
    ellipse at 20% 30%,
    rgba(120, 79, 255, 0.07) 0%,
    rgba(25, 25, 36, 0.99) 100%
  );
  transition: background 0.25s;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  background: #191924;
}
::-webkit-scrollbar-thumb {
  background: #261d38;
}
